:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --Slightly: hsla(0, 0%, 100%, 0.75);
  --Slightly2: hsla(0, 0%, 100%, 0.6);
}
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Inter", sans-serif;
  color: var(--white);
}
body {
  background-color: var(--very-dark-blue);
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-card {
  display: flex;
  flex-direction: column-reverse;
  margin: 0px 15px;
  border-radius: 10px;
  background-color: var(--dark-blue);
  max-width: 450px;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  padding: 0 25px;
}
.card-content h1 {
  text-align: center;
}
.card-content h1 span {
  color: var(--soft-violet);
}
.card-content p {
  margin: 15px 20px 20px 20px;
  text-align: center;
  color: var(--Slightly2);
}
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.stats h2 {
  text-align: center;
}
.stats span {
  color: var(--Slightly2);
  margin-top: 6px;
  text-align: center;
  font-size: 12px;
}
.card-img {
  position: relative;
  filter: brightness(0.7);
}
.card-img img {
  width: 100%;
  height: 100%;
}
.card-img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  background-color: var(--soft-violet);
}

@media screen and (min-width: 800px) {
  .container-card {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    min-height: 320px;
  }
  .card-content {
    margin: auto;
    width: 50%;
  }
  .card-content h1 {
    text-align: left;
  }
  .card-content p {
    margin: 20px 0;
    text-align: left;
  }
  .container-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .card-img {
    width: 50%;
  }
  .card-img img {
    object-fit: cover;
  }
}
